<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Setting1"
         providerName="System.Data.Config"
         connectionString="http://sinv-56038.edu.hsr.ch:40007/api/fishingtrips" />
  </connectionStrings>
  <appSettings>

  </appSettings>
</configuration>